// About US
.inner-page-wrapper {
    .container {
        .title {
            margin-top: 50px !important;
            text-align: center;

            h2 {
                color: #2d2e2e;
                font-size: 38px;
                font-weight: 500;
                padding-top: 150px;
                line-height: 5cm;

                span {
                    color: #89b927;
                }
            }

            h3 {
                color: #2d2e2e;
                font-size: 19px;
                font-weight: 500;
                margin: -65px 0 60px 0;
                padding: 0;
                text-transform: none;
                line-height: 0cm !important;
            }
        }

        .row {
            margin-left: 50px;

            .about-section {
                position: relative;
                margin-bottom: 50px;

                .question-img {
                    position: absolute;
                    top: 0;
                    left: -20%;
                }

                .explore {
                    position: absolute;
                    bottom: 0;
                    left: -140px;
                    background: #1d2833;
                    color: #fff;
                    padding: 8px 20px;
                    font-size: 19px;
                    font-family: 'Rajdhani', sans-serif;
                    font-weight: 500;
                }

                .green-bg {
                    position: absolute;
                    bottom: 40px;
                    left: -140px;
                    background: #89b927;
                    color: #fff;
                    padding: 15px;
                    font-size: 16px;
                    font-family: 'Rajdhani', sans-serif;
                    font-weight: 500;
                    width: 250px;
                }

                .recruitepro-img {
                    text-align: right;
                    margin-left: 50px;

                    img {
                        width: 475px;
                        height: 369px;
                    }
                }
            }
        }
    }
}

// Section2

.container {
    .row {
        .col-md-5 {
            .accordion {
                background-color: #1d2833;
                color: white;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;
                margin-bottom: 15px;
            }

            .active,
            .accordion:hover {
                background-color: #89b927;
            }

            .panel {
                padding: 0 18px;
                display: none;
                background-color: #f3fce1;
                overflow: hidden;
            }
        }
    }
}

// Section3
.business-performance-wrapper {
    background-image: url("http://sbtechnosoft.com/recruitepro/images/business-performance-bg.jpg");
    background-position: center center;
    background-size: cover;
    float: left;
    padding: 90px 0 117px;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 2;
    text-align: center;

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .title {
            text-align: center;
            margin: 0 0 40px;

            h2 {
                color: #fff;
                font-size: 45px;
                font-weight: 700;
                margin: 5px 0;
                padding: 0;

                span {
                    color: #89b927;
                }
            }

            h3 {
                color: #fff;
                font-size: 18px;
                font-weight: 500;
                margin: 5px 0;
                padding: 0;
                text-transform: none;
            }
        }

        .passionate-wrapper {
            .passionate-inner:after {
                background-color: rgba(0, 0, 0, 0);
                border: 1px solid #8aba29;
                bottom: -3%;
                content: "";
                left: -3%;
                opacity: 1;
                position: absolute;
                right: -3%;
                top: -3%;
                border-radius: 50%;
            }

            .passionate-inner:before {
                background-color: rgba(0, 0, 0, 0);
                border: 1px solid #8aba29;
                bottom: 3%;
                content: "";
                left: 3%;
                opacity: 1;
                position: absolute;
                right: 3%;
                top: 3%;
                border-radius: 50%;
            }

            .passionate-inner {
                width: 550px;
                background: #fff;
                height: 550px;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
                display: table;

                .passionate-text {
                    display: table-cell;
                    padding: 50px;
                    vertical-align: middle;

                    h2 {
                        color: #89b927;
                        font-size: 40px;
                        font-weight: 700;
                        margin: 5px 0;
                        padding: 0;
                    }

                    span {
                        width: 100px;
                        height: 1px;
                        background: #1d2833;
                        display: inline-block;
                        margin: 18px 0;
                    }

                    h3 {
                        color: #1d2833;
                        font-size: 18px;
                        font-weight: 500;
                        margin: 5px 0;
                        padding: 0;
                        text-transform: none;
                    }

                    p {
                        font-size: 17px;
                        color: #3c4d5f;
                    }
                }
            }
        }
    }
}

// Section4
.creative-wrapper1 {
    padding: 100px 0 34px;
    width: 100%;

    @media (min-width: 992px) {
        .col-md-7 {
            width: 58.33333333%;
        }
    }

    @media (min-width: 768px) {
        .col-sm-12 {
            width: 100%;
        }
    }

    .container {
        margin-top: 100px;

        .creative-img {
            .img-first {
                margin-top: 100px !important;
            }

            img {
                vertical-align: middle;
                height: 300px;
                margin-top: 50px !important;

            }
        }

        .bor1 {
            padding-left: 20px !important;
            border-left: 1px solid rgb(135, 134, 134);
            margin-top: 50px !important;
        }

        .bor {
            padding: 0 0 20px 30px;
            border-right: 1px solid rgb(135, 134, 134);
            margin-top: 100px !important;
        }

        .creative-text {
            padding: 0 30px 0 0;

            h2 {
                color: #89b927;
                font-size: 30px;
                font-weight: 700;
                margin: 0 0 5px;
                padding: 0;
            }

            h3 {
                color: #1d2833;
                font-size: 18px;
                font-weight: 500;
                margin: 5px 0;
                padding: 0;
                text-transform: uppercase;
            }

            span {
                background: #1d2833 none repeat scroll 0 0;
                display: inline-block;
                height: 1px;
                margin: 13px 0;
                width: 100px;
            }

            p {
                color: #273440;
                font-size: 15px;
                font-family: 'Rajdhani', sans-serif;
                margin: 0;
                padding: 0;
            }
        }
    }
}

// NotFound

// Section2
.inner-page-wrapper1 {
    padding: 89px 0 81px !important;
    width: 100%;

    @media (min-width: 992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    .container {
        .row {
            .not-found-icon {
                i {
                    color: #89b927;
                    float: right;
                    font-size: 300px;
                    margin-top: 100px !important;

                }
            }

            .not-found-text {
                padding: 50px 30px;
                margin-top: 100px !important;


                h1 {
                    font-size: 80px;
                    font-weight: 600;
                    line-height: 56px;
                }

                h2 {
                    letter-spacing: 3px;
                    margin: 20px 0;
                    text-transform: uppercase;
                }

                .btn-one {
                    display: inline-block;
                    vertical-align: middle;
                    box-shadow: 0 0 1px transparent;
                    position: relative;
                    background: #89b927;
                    border-radius: 30px;
                    padding: 10px 30px;
                    color: #fff;
                    font-size: 17px;
                    font-weight: 600;
                    text-transform: uppercase;
                    transition: 0.8s;
                    border: none;

                    a {
                        color: white;
                        text-decoration: none;
                    }
                }

                .btn-one:hover {
                    background-color: #89b927;
                }
            }
        }
    }
}

// Faq
.inner-page-wrapper5 {
    margin-bottom: 50px;

    .container {
        .row {
            .accordion {
                background-color: white;
                color: black;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 15px;
                transition: 0.4s;

                span {
                    color: black;
                    font-weight: 600;
                }

                button {
                    color: #ffffff;
                    height: 40px;
                    width: 40px;
                    border: none;
                    margin-right: 15px;
                }

                button:hover {
                    background: #89b927;

                }

                .icon {
                    background: #89b927;

                }
            }

            .panel {
                padding: 0 18px;
                display: none;
                background-color: white;
                overflow: hidden;
                padding-left: 70px;
                color: #1d2833;

                p {
                    color: #3f4041;
                }
            }

            .panel1 {
                padding: 0 18px;
                background-color: white;
                overflow: hidden;
                padding-left: 70px;
                color: #1d2833;
            }

            .contact-form {
                .form-group {
                    margin-bottom: 25px;
                    position: relative;

                    input {
                        background-color: #f7f7f7;
                        border: 1px solid #f7f7f7;
                        border-radius: 0;
                        color: #333333;
                        display: block;
                        font-size: 14px;
                        height: 50px;
                        line-height: 24px;
                        padding: 8px 20px;
                        transition: all 500ms ease 0s;
                        width: 100%;
                    }

                    textarea {
                        background-color: #f7f7f7;
                        border: 1px solid #f7f7f7;
                        border-radius: 0;
                        color: #333333;
                        display: block;
                        font-size: 14px;
                        height: 50px;
                        line-height: 24px;
                        padding: 8px 20px;
                        transition: all 500ms ease 0s;
                        width: 100%;
                    }

                    button {
                        display: inline-block;
                        vertical-align: middle;
                        box-shadow: 0 0 1px transparent;
                        position: relative;
                        background: #89b927;
                        padding: 10px 30px;
                        color: #fff;
                        font-size: 17px;
                        font-weight: 600;
                        border: none;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}

// Comming Soon
.comming-soon {
    background: url("http://sbtechnosoft.com/recruitepro/images/comming-soon-img.jpg");
    background-repeat: no-repeat;
    background-size: cover !important;
    height: 120vh;
    &:before {
        content: "";
        display: inline-block;
        height: 120vh;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
    }

    .container {
        position: relative;
        .row {
            .col-6 {
                a {
                    text-decoration: none;

                    img {
                        margin-top: 50px;
                    }
                }

                ul {
                    list-style: none;
                    float: right;
                    margin-top: 50px;
                    display: flex;

                    li {
                        a {
                            background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                            border: 1px solid #f1f1f1;
                            color: #f1f1f1;
                            display: inline-block;
                            height: 35px;
                            line-height: 32px;
                            margin-right: 8px;
                            text-align: center;
                            width: 35px;
                            transition: 0.6s;

                            i {
                                display: inline-block;
                                font: normal normal normal 14px/1 FontAwesome;
                                font-size: inherit;
                                text-rendering: auto;
                            }
                        }

                        a:hover {
                            border: 1px solid #89b927;
                            color: #89b927;
                        }
                    }

                }
            }

            .col-12 {
                margin-top: 100px;
                text-align: center;

                h1 {
                    color: #f1f1f1;
                    font-size: 60px;
                    letter-spacing: 10px;
                }

                p {
                    color: #89b927;
                    font-size: 14px;
                    letter-spacing: 3px;
                }

                .time {
                    display: flex;
                    justify-content: center;

                    .hours {
                        margin-right: 80px;
                        margin-left: 30px;

                        span {
                            font-size: 60px;
                            font-weight: bold;
                            display: block;
                            margin-bottom: 20px;
                            line-height: 30px;
                            color: #fff;
                        }

                        p {
                            font-size: 18px;
                            color: #aaa;
                        }
                    }

                    .seconds {
                        margin-right: 80px;

                        span {
                            font-size: 60px;
                            font-weight: bold;
                            display: block;
                            margin-bottom: 20px;
                            line-height: 30px;
                            color: #fff;
                        }

                        p {
                            font-size: 18px;
                            color: #aaa;
                        }
                    }

                    .minutes {
                        margin-right: 50px;

                        span {
                            font-size: 60px;
                            font-weight: bold;
                            display: block;
                            margin-bottom: 20px;
                            line-height: 30px;
                            color: #fff;
                        }

                        p {
                            font-size: 18px;
                            color: #aaa;
                        }
                    }
                }

                input {
                    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                    border: 1px solid #89b927;
                    color: #89b927;
                    height: 45px;
                    padding: 10px;
                    width: 300px;
                }

                button {
                    background: #89b927;
                    border: 1px solid #89b927;
                    color: #f1f1f1;
                    display: inline-block;
                    font-size: 13px;
                    height: 50px;
                    letter-spacing: 2px;
                    line-height: 48px;
                    padding: 0 45px;
                    text-transform: uppercase;
                }
            }
        }
    }
}