.container .row {
  margin-bottom: 0;
}
.container .row .hidden-sm img {
  margin-top: 100px !important;
}
.container .row .contactus-txt h2 {
  font-weight: 700;
  color: #89b927;
  font-size: 45px;
  margin-top: 100px !important;
}
.container .row .contactus-txt p {
  font-size: 16px;
  line-height: 22px;
}
.container .row .contact-address .contact-left {
  width: 50%;
  display: flex;
  float: left;
  padding-right: 20px;
}
.container .row .contact-address .contact-left i img {
  padding-right: 20px;
}
.container .row .contact-address .contact-right {
  width: 50%;
  float: left;
  display: flex;
  padding-right: 20px;
}
.container .row .contact-address .contact-right i img {
  padding-right: 20px;
}

.contact-us1 .inner-page-wrapper10 .container {
  z-index: 999999;
}
.contact-us1 .inner-page-wrapper10 .container .form-bg {
  position: relative;
  top: 150px;
  background: #1d2833;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  z-index: 9999999;
}
@media (min-width: 992px) {
  .contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-md-6 {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-12 {
    width: 90%;
  }
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-4 .why-us ul li:before {
  content: "\f00c";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: #89b927;
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-4 .why-us h2 {
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-4 .why-us ul {
  float: left;
  width: 42%;
  list-style: none;
  margin: 0 0 0 20px;
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-4 .why-us ul li {
  padding-left: 1.3em;
  color: #fff;
  padding: 0 0 10px;
  font-size: 16px;
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-8 .contact-form h2 {
  color: #89b927;
  font-weight: 600;
}
@media (max-width: 992px) {
  .contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-8 .contact-form .row .col-md-4 {
    width: 33.3333%;
  }
}
@media (min-width: 768px) {
  .contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-8 .contact-form .row .col-sm-12 {
    width: 100%;
  }
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-8 .contact-form .row .col-sm-12 .form-group {
  display: flex;
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-8 .contact-form .row .col-sm-12 .form-group input {
  flex-direction: row;
  background-color: #ffffff;
  border: medium none;
  border-radius: 90px;
  box-shadow: none;
  color: #6c757d;
  display: block;
  font-size: 14px;
  height: 50px;
  line-height: 45px;
  width: 100%;
  padding: 0 0 0 15px;
  margin-bottom: 20px;
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-8 .contact-form .row .col-sm-12 .form-group textarea {
  background-color: #ffffff;
  border: medium none;
  border-radius: 25px;
  box-shadow: none;
  color: #6c757d;
  display: block;
  font-size: 14px;
  height: auto;
  line-height: 45px;
  padding: 0 0 0 15px;
  width: 100%;
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-8 .contact-form .row .col-sm-12 .btn-one {
  display: inline-block;
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #89b927;
  border-radius: 30px;
  padding: 10px 30px;
  color: #fff;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 20px;
  transition: 0.8s;
  float: right;
  border: none;
}
.contact-us1 .inner-page-wrapper10 .container .form-bg .row .col-sm-8 .contact-form .row .col-sm-12 .btn-one:hover {
  background: #333;
}/*# sourceMappingURL=contact.css.map */