body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #2a2a2a;
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 9999999999;
        transition-delay: 0.9s;
        background: hsl(210, 28%, 16%);
        margin-bottom: 0px !important;
        @media only screen and (max-width:1240px) {
            .nav-link {
                font-size: 10px !important;
            }
        }

        @media only screen and (max-width:965px) {
            .nav-link {
                font-size: 13px !important;
            }
        }

        .navbar-nav {
            margin-left: 20vh;
            .dropdown-menu {
                background-color: #2a2a2a;
                z-index: 999999999 !important;
            }
          

            a {
                color: white !important;
                margin-right: 20px;
                font-size:15px;
            }

            .dropdown-item:hover{
                background-color:#89b927;
            }
            
        }
        .nav-link {
            border-bottom: 2px solid black;
        }

        .nav-link:hover {
            border-bottom: 2px solid #89b927;
        }
    }

    .ms-auto {
        padding-right: 40px;
        .login-sign {
            border-radius: 20px;
            width: 150px;
            background: #89b927;
            color: #fff;
            padding: 5px 10px;
            font-family: 'Rajdhani', sans-serif;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: 500;
            border: none;
        }

        .user {
            float: right;
            margin: 0 0 0 14px;
            padding: 0;
            background: #89b927;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 35px;
            border-radius: 50%;
            border: none;
            cursor: pointer;

            i {
                color: white;
            }
        }
    }

    @media only screen and (max-width: 1100px) {
        .ms-auto {
            display: none;
        }
    }
}